<%- include("partials/header"); -%>

    		<div class="margin">


					<% courses.forEach(function(course){ %>

							<form action="/delete" method="post">
							
								<div class="jumbotron jumbotron-fluid container">
									
			  						<h2 class="display-4 aa" style="font-family:verdana"><b>title: </b><%=course.title%></h2>
			  						<p class="lead aa" style="font-family:verdana"><b>instructor:</b> <%=course.instructor%></p>
			  						<p class="lead aa" style="font-family:verdana"><%=course.price%></p>

			  						<input type="checkbox" name="id" value="<%=course._id%>" onChange = "this.form.submit()">

			  					</div>							

		  					</form>
					
					<% }) %>
					

			</div>

<%- include('partials/footer'); -%>